* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: consolas;
    user-select: none;
}

body {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.textInput {
    position: relative;
    width: 500px;
}

.textInput h2 {
    font-size: 3em;
}

.textInput input {
    position: relative;
    width: 100%;
    height: 60px;
    border: none;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 15px 0 20px;
    background: transparent;
    outline: none;
    padding: 0 20px;
    font-size: 24px;
    letter-spacing: 4px;
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 1), 
                inset 4px 4px 10px rgba(0, 0, 0, 0.05),
                inset -4px -4px 10px rgba(255, 255, 255, 1),
                4px 4px 10px rgba(0, 0, 0, 0.05);
}

.textInput input::placeholder {
    letter-spacing: 0px;
}

.textInput #btn {
    position: relative;
    cursor: pointer;
    color: #fff;
    background: #333;
    font-size: 24px;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
}

#btn:hover {
    opacity: 0.5;
}

#btn:active {
    color: #333;
    background: #fff;
    opacity: 1;
}